* {
  margin: 0;
  padding: 0;
}
.container{
    width: 100%;
}
.container .principal {

 
  margin: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal .element {
  width: 250px;
  height: 250px;
  margin: 15px;
  line-height: 200px;
  background-color: aquamarine;
}
p{
    margin: 15px;
    text-align: center;
}
a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
